* {
 box-sizing: border-box;
}
body {
  background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("/static/img/banner-events.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
#bottomPart {
  margin-top: 0px;
}
.collection, .listView {
  color: white;
  font-size: 9px;
  margin: 15px;
  margin-top: 5px;
  padding: 10px;
  padding-left: 15px;
}
.collectItem {
  margin: 20px;
  text-align: center;
}
.collectName {
  text-align: center;
  max-width: 60px;
  cursor: default;
}
.topBar {
  background-color: red;
  margin: 0;
  width: 100%;
  padding: 10px;
}
.header {
  color: black;
  font-size: 25px;
  width: 80%;
  margin-left: 10px;
}
input {
  text-align: center;
  font-size: 12px;
  padding: 2px;
  border-radius: 5px;
  margin: 10px 0px;
}
.info {
  text-align: center;
  color: white;
  margin: 10px 0px;
  font-size: 10px;
  width: 36%;
}
.barLogo {
  max-height: 60px;
  max-width: 60px;
  border-radius: 10px;
}
.collectImage {
  height: 60px;
  width: 60px;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
#userList {
  margin: 15px 0px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  width: 34%;
  min-height: 54px;
}
#listTitle {
  width: 100%;
  margin: 0;
  margin-top: 8px;
  padding: 4px;
  border-radius: 6px 6px 0px 0px;
  background-color: #007bff;
}
#courseList, #courseList-modal {
  width: 100%;
  list-style: none;
  color: #4D4D4D;
  text-align: left;
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  flex-flow: row;
  border-top: 1px solid #D0D0D0;
  padding: 4px;
  padding-left: 6px;
}
.courseInList {
  width: 84%;
}
.oi-trash {
  padding-top: 2px;
}
#sideItems {
  text-align: center;
  padding-top: 20px;
}
#homeLink {
  color: #00BFFF;
  font-size: 16px;
}
#preReqsLogo {
  width: 18px;
  height: 18px;
  margin-bottom: 4px;
}
#homeHdr {
  color: #00BFFF;
}
.listItem {
  color: #4D4D4D;
  text-align: center;
  width: 100%;
  padding: 4px;
}
.listView {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}
.courseTopLine {
  display: flex;
  flex-flow: row;
  position: relative;
}
.courseName {
  text-align: left;
  /*width: 90%;*/
  cursor: pointer;
}
.courseInfo {
  width: 90%;
  margin-left: 12px;
  margin-bottom: 4px;
  padding: 2px;
  text-align: left;
}
.courseBottomLine {
  border-bottom: 1px solid #D0D0D0;
  width: 93%;
  margin-bottom: 6px;
}
.oi-chevron-bottom, .courseInfo {
  display: none;
}
.oi {
  cursor: pointer;
}
.oi-plus {
  padding-top: 4px;
  position: absolute;
  right: 15px;
}
#schoolCourses {
  display: none;
}
#viewerEmail {
  margin-top: 0px;
}
#backButtonText {
  font-size: 12px;
  padding-top: 2px;
}
#myListPopup, #backButton {
  margin: 5px;
  margin-bottom: 0px;
}
#navButtons {
  display: flex;
  flex-flow: row;
  padding-left: 8px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#buttonGap {
  width: 70%;
}
#viewListModalTitle {
  color: white;
  background-color: #007bff;
}
#modalListContent {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  width: 34%;
  min-height: 54px;
  margin-top: 25px;
}

@media (min-width: 580px) {
  .header{
    font-size: 35px;
  }
  .barLogo {
    max-height: 80px;
    max-width: 80px;
  }
  .collection, .listView {
    font-size: 12px;
  }
  .collectName {
    max-width: 80px;
  }
  .collectImage {
    height: 80px;
    width: 80px;
  }
  .info, #userList, #modalListContent {
    width: 30%;
  }
  #buttonGap {
    width: 77%;
  }
}

@media (min-width: 740px) {
  .header{
    font-size: 45px;
  }
  .barLogo {
    max-height: 100px;
    max-width: 100px;
    border-radius: 14px;
  }
  .collectName {
    max-width: 100px;
  }
  .collectImage {
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }
  .collection, .listView {
    font-size: 15px;
  }
  .info, #userList {
    width: 26%;
    font-size: 13px;
  }
  #modalListContent {
    width: 26%;
  }
}

@media (min-width: 900px) {
  #bottomPart {
    display: flex;
    flex-flow: row;
  }
  .header{
    font-size: 55px;
  }
  .barLogo {
    max-height: 120px;
    max-width: 120px;
    margin-left: 10px;
  }
  .collectItem {
    margin: 25px;
  }
  .collectName {
    max-width: 120px;
  }
  .collectImage {
    height: 120px;
    width: 120px;
  }
  .collection, .listView {
    width: 74%;
  }
  .info {
    width: 100%;
  }
  #sideItems {
    width: 165px;
    margin: 15px;
  }
  #userList {
    width: 100%;
  }
  #myListPopup {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header{
    font-size: 65px;
  }
  .barLogo {
    max-height: 125px;
    max-width: 125px;
  }
  .collectName {
    max-width: 125px;
  }
  .collectImage {
    height: 125px;
    width: 125px;
  }
}
