<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/styles/theme.css" rel="stylesheet" type="text/css" />
    <link href="/static/styles/icons/style.css" rel="stylesheet" type="text/css" />
    <script src="/static/scripts/jquery.js"></script>
    <script src="/static/scripts/popper.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <link rel=icon href=/static/icons/favicon.png>
    {% block dependancies %}{% endblock %}
  </head>
  <body>
    <!-- Boy Start -->
    {% block body %}{% endblock %}
  </body>
</html>
