{% extends "light_layout.html" %}
{% block title %}Admin{% endblock %}
{% block dependancies %}
<script src="/static/scripts/jsgrid.js"></script>
<link href="/static/styles/jsgrid.css" rel="stylesheet" type="text/css" />
<link href="/static/styles/jsgrid-theme.css" rel="stylesheet" type="text/css" />
<link href="/static/styles/jquery-ui.css"rel="stylesheet" />
<script src="/static/scripts/jquery-ui.js"></script>
{% endblock %}

{% block body %}
{# this is the admin nav and it is connected to some js the id name matter 
   since it is the id of the target div + -btn #}


<div class="admin-content-nav">
    <div class="list-group list-group-flush">
        {% if  institutionid != 0  %}  
        <a href="#" class="list-group-item list-group-item-action" id="upload-page-btn"><div class="nav-icon upload-icon"></div>Upload</a>
        <a href="#" class="list-group-item list-group-item-action" id="courses-page-btn"><div class="nav-icon course-icon"></div>Your Data</a>
        <a href="#" class="list-group-item list-group-item-action" id="customize-page-btn"><div class="nav-icon customize-icon"></div>Customize</a>
        <a href="#" class="list-group-item list-group-item-action" id="help-page-btn"><div class="nav-icon help-icon"></div>Help</a>
        {% else %}
        <a href="#" class="list-group-item list-group-item-action "id="add-univeristy-page-btn"><div class="nav-icon add-instituition-icon"></div> Institutions</a>
        
        <a href="#" class="list-group-item list-group-item-action" id="accounts-page-btn" ><div class="nav-icon accounts-icon"></div>Accounts</a>
        <a href="#" class="list-group-item list-group-item-action" id="settings-page-btn"><div class="nav-icon settings-icon"></div>Settings</a>
        {% endif %}
    </div>
</div>
<div class="admin-content-actions">
      
    <div class="admin-action" id="insitution-setup-page" >
            {% include "admin/pages/setup.html" %}
    </div>

    <div class="admin-action" id="upload-page" style="display:none;">
            {% include "admin/pages/upload.html" %}
    </div>

    <div class="admin-action" id="courses-page" style="display:none;">
            {% include "admin/pages/courses.html" %}
    </div>

    <div class="admin-action" id="customize-page" style="display:none;">
            {% include "admin/pages/customize.html" %}
    </div>

    <div class="admin-action" id="accounts-page" style="display:none;">
            {% include "admin/pages/accounts.html" %}
    </div>

    <div class="admin-action" id="add-univeristy-page" style="display:none;">
            {% include "admin/pages/insitutions.html" %}
    </div>

    <div class="admin-action" id="settings-page" style="display:none;">
            {% include "admin/pages/settings.html" %}
    </div>

    <div class="admin-action" id="help-page" style="display:none;">
            {% include "admin/pages/help.html" %}
    </div>
    
</div>
<script src="/static/scripts/admin.js"></script>

{% endblock %}
