{% block dependancies %}
<link href="/static/styles/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/styles/schoolStyle.css" rel="stylesheet">
<script src="/static/scripts/jquery-ui.js"></script>
{% endblock %}

{% block body %}

<center>
  <div class="header" id="homeHdr"><b>Prerequisites Free</b></div>
  <div class="info">Find your option courses, no prerequisites attached!</div>
  <div><input type="text" class="userinput" placeholder="Calgary, AB"/></div>
  <div><button type="button" class="btn btn-primary btn-sm">search</button></div>
  <div class="info">Schools available in your city:</div>
  <div class="row collection">
    <div class="collectItem">
      <div>
        <img id="barLogo" src="/static/img/UofC.png">
      </div>
    </div>
    <div class="collectItem">
      <div>
        <img id="barLogo" src="/static/img/MRoyal.png">
      </div>
    </div>
    <div class="collectItem">
      <div>
        <img id="barLogo" src="/static/img/Sait.png">
      </div>
    </div>
    <div class="collectItem">
      <div>
        <img id="barLogo" src="/static/img/BValley.png">
      </div>
    </div>
    <div class="collectItem">
      <div>
        <img id="barLogo" src="/static/img/CDICol.png">
      </div>
    </div>
    <div class="collectItem">
      <div>
        <img id="barLogo" src="/static/img/ReevsCol.png">
      </div>
    </div>
    <div class="collectItem">
      <div>
        <img id="barLogo" src="/static/img/AmbrUni.png">
      </div>
    </div>
    <div class="collectItem">
      <div>
        <img id="barLogo" src="/static/img/StMarys.png">
      </div>
    </div>
  </div>
  <a href="url" class="info" id="schoolReg">register school</a>
</center>

{% endblock %}
