

<div id="new_account_dialog"  style="display:none;width:600px;" title="New Account">
    <div class="form-group">
      <label for="new_cust_first_name">First Name</label>
      <input type="text" class="form-control" id="new_account_first_name">
    </div>
    <div class="form-group">
      <label for="new_cust_last_name">Last Name</label>
      <input type="text" class="form-control" id="new_account_last_name">
    </div>
    <div class="form-group">
      <label for="new_cust_email">Email</label>
      <input type="text" class="form-control" id="new_account_email">
    </div>
    <div class="form-group">
      <label for="new_cust_phone">Phone Number</label>
      <input type="text" class="form-control" id="new_account_phone">
    </div>
    <!-- here i want what institutions you have power over or if -->
    <label for="new_cust_first_name">Access Managment</label>
    <div class="alert alert-secondary" role="alert">
       
      
      <a  href="#adminCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="adminCollapse" style="width:100%;display:block;padding:0;">
          Admin Permissions
      </a>
    <div class="form-group" style="margin-bottom: 0;">
        
        <!-- have the differnt admin access -->
        
        <div class="row collapse" id="adminCollapse">
          
            <div  class="form-check ">
                <input type="checkbox" class="form-check-input" id="admin-view-accounts">
                <label class="form-check-label" for="admin-view-accounts">View Accounts</label>
            </div>
            <div class="form-check ">
                <input type="checkbox" class="form-check-input" id="admin-edit-accounts">
                <label class="form-check-label" for="admin-edit-accounts">Edit Accounts</label>
            </div>
            <div class="form-check ">
                <input type="checkbox" class="form-check-input" id="admin-view-insitutions">
                <label class="form-check-label" for="admin-view-insitutions">View Insitutions</label>
            </div>
            <div class="form-check ">
                <input type="checkbox" class="form-check-input" id="admin-edit-insitutions">
                <label class="form-check-label" for="admin-edit-insitutions">Edit Institutions</label>
            </div>
            <div class="form-check ">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Site Changes</label>
            </div>
            
        </div>
      </div>
    </div>
        <label for="institution_permission_select">Insitutions</label>
        <!--   have a select drop down to determ which accounts and stuff -->
    <div class="alert alert-info" role="alert">
    
  
        <a  href="#insitutionCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="insitutionCollapse" style="width:100%;display:block;padding:0;">
            Univeristy of Calgary 
        </a>
      <div class="form-group" style="margin-bottom: 0;">
          
          <!-- have the differnt admin access -->
          
          <div class="row collapse" id="insitutionCollapse">
            
              <div  class="form-check ">
                  <input type="checkbox" class="form-check-input" id="insitution-view-data">
                  <label class="form-check-label" for="insitution-view-data">View Data</label>
              </div>
              <div class="form-check ">
                  <input type="checkbox" class="form-check-input" id="insitution-edit-data">
                  <label class="form-check-label" for="insitution-edit-data">Edit Data</label>
              </div>
              <div class="form-check ">
                  <input type="checkbox" class="form-check-input" id="admin-upload-data">
                  <label class="form-check-label" for="admin-upload-data">Upload Data</label>
              </div>
              <div class="form-check ">
                  <input type="checkbox" class="form-check-input" id="insitution-customize">
                  <label class="form-check-label" for="insitution-customize">Customize</label>
              </div>
              
              
              
          </div>
        </div>
      </div>
        <div style="display:flex;">
            <div class="form-group" style="flex-grow: 1;">
                <select class="form-control" id="institution_permission_select">
                  <option>Calgary</option>
                  <option>Edmonton</option>
                  <option>Vancouver</option>
                  <option>Salmon Arm</option>
                  <option>Vicotria</option>
                </select>
            </div>
            <div style="flex-grow: 0;padding:0 1rem;">
                <button type="button" class="btn btn-success">Add Institution</button>
            </div>
        </div>
        
        
    

    
  <div>
    <button type="button" class="btn btn-success" id="create-new-account-btn" style="float:right;">Create Account</button>
  </div>
</div>

<script>
function openNewAccountDialog(){
$( "#new_account_dialog" ).dialog({
  width: 600,
  height: 675
});
$( "#new_account_dialog" ).show();
}
function closeNewAccountDialog(){
$( "#new_account_dialog" ).dialog("close");
}

function createAccount(){
  $/post("NewAccount",{
    
      

      firstName : $("#new_institution_first_name").val(),
      lastName : $("#new_institution_last_name").val(),
      email :$("#new_institution_email").val(),
      phoneNumber :  $("#new_institution_phone").val()
    
  }).done((data)=>{
    if(data.success){
      alert("your Account was created");
    }else{
      alert("your Account could not be created");
    }
  });
}

//  function to add an insitution to the list that this account has permissions over 
function addInstitutionPolicy(name,id){

}


//  initalize the date selector  
$(document).ready(()=>{
  
  //  
});



</script>
<style>
.form-check{
  padding-left:3.5rem!important;
  display: inline-block;
}
</style>