<h2>Class Information</h2>
<div id="infotabs">
<ul>
    <li><a href="#tabs-1">Faculties</a></li>
    <li><a href="#tabs-2">Departments</a></li>
    <li><a href="#tabs-3">Courses</a></li>
</ul>
<div id="tabs-1">
    <div class="grid-buttons">
    <button type="button" onclick="openNewFacultyDialog()" class="btn btn-primary">Add Faculty</button>
    </div>
    
    <div id="facultyGrid"></div>
</div>
<div id="tabs-2">
    <div class="grid-buttons">
    <button type="button" onclick="openNewDepartmentDialog()" class="btn btn-primary">Add Department</button>
    </div>
    
    <div id="departmentGrid"></div>
</div>
<div id="tabs-3">
    <div class="grid-buttons">
    <button type="button" onclick="openNewCourseDialog()" class="btn btn-primary">Add Course</button>
    </div>
    
    <div id="courseGrid"></div>
</div>
</div>
<script>
  $( function() {
    $( "#infotabs" ).tabs();
  } );
  
  //  create the grids 
  $("#facultyGrid").jsGrid({
        width: "100%",
 
              filtering: true,
               editing: true,
               sorting: true,
               paging: true,
               autoload: true,
               pageSize: 20,
               pageLoading:true,
              pageButtonCount: 7,
              fields: [
            { name: "code", type: "text", width: 100 },
            { name: "longname", type: "text", width: 100 },
            {type: "control"}
        ],

 
        
 
        
          controller: {
          loadData: function(filter) {
                var d = $.Deferred();
                console.log(filter);
                $.ajax({
                  type: 'POST',
                    url: "/adminGrid/GetFaculty",
                    dataType: "json",
                    data: filter
                }).done(function(dataResult) {
                  console.log(dataResult);
                    d.resolve(dataResult);
                });
                return d.promise();
            }
          }
 
        
    });




    $("#departmentGrid").jsGrid({
        width: "100%",
 
        filtering: true,
        sorting: true,
        paging: true,
        autoload: true,
 
        pageSize: 15,
        pageButtonCount: 5,
 
        fields: [
            { name: "name", type: "text", width: 100 },
            { name: "code", type: "text", width: 50 },
            { name: "longname", type: "text", width: 50 },
            
            { type: "control" }
        ],
 
        controller: {
          loadData: function(filter) {
                var d = $.Deferred();
                $.ajax({
                  type: 'POST',
                    url: "/adminGrid/GetDepartment",
                    dataType: "json",
                    data: filter
                }).done(function(dataResult) {
                  console.log(dataResult);
                    d.resolve(dataResult);
                });
                return d.promise();
            }
          }
 
 
        
    });
</script>

