
<div id="infotabs">
<ul>
    <li><a href="#tabs-1">Faculties</a></li>
    <li><a href="#tabs-2">Departments</a></li>
    <li><a href="#tabs-3">Courses</a></li>
</ul>
<div id="tabs-1">
    <div class="grid-buttons">
    <button type="button" onclick="openNewFacultyDialog()" class="btn btn-primary">Add Faculty</button>
    </div>
    
    <div id="facultyGrid"></div>
</div>
<div id="tabs-2">
    <div class="grid-buttons">
    <button type="button" onclick="openNewDepartmentDialog()" class="btn btn-primary">Add Department</button>
    </div>
    
    <div id="departmentGrid"></div>
</div>
<div id="tabs-3">
    <div class="grid-buttons">
    <button type="button" onclick="openNewCourseDialog()" class="btn btn-primary">Add Course</button>
    </div>
    
    <div id="coursesGrid"></div>
</div>
</div>
<script>
  $( function() {
    $( "#infotabs" ).tabs();
  } );

  $("#coursesGrid").jsGrid({
        
        width: "100%",

        filtering: true,
        editing: false,
        sorting: true,
        paging: true,
        autoload: true,
        pageSize: 20,
        pageLoading:true,
       pageButtonCount: 7,
 
        
 
        controller: {
          loadData: function(filter) {
                var d = $.Deferred();
                console.log(filter);
                $.ajax({
                  type: 'POST',
                    url: "/adminGrid/GetCourses",
                    dataType: "json",
                    data: filter
                }).done(function(dataResult) {
                  console.log("COURSES DATA",dataResult);
                    d.resolve(dataResult);
                });
                return d.promise();
            },
            updateItem: function(item) {
                return $.ajax({
                    type: "POST",
                    url: "/adminGrid/UpdateCourse",
                    data: item
                }).done(()=>{
                  $("#coursesGrid").jsGrid("loadData");
                });
            },
          },
 
        fields: [
            { name:"topicdescription" , title: "Course Name", type: "text", width: 100 },
            { name:"catalognumber" ,title: "Level", type: "text", width: 50 },
            { name:"code" , readOnly: true,title: "Department", type: "text", width: 150 },
            { name:"name" , readOnly: true,title: "DeptName", type: "text" ,width: 150},
            
            { type: "control" }
        ]
    });
 
  
var facultyList = []
  //  create the grids 
  $("#facultyGrid").jsGrid({
        width: "100%",
 
              filtering: true,
               editing: true,
               sorting: true,
               paging: true,
               autoload: true,
               pageSize: 20,
               pageLoading:true,
              pageButtonCount: 7,
              fields: [
            { title: "ID", name: "facultycode", type: "text", width: 100 },
            { title: "Name", name: "longname", type: "text", width: 100 },
            {type: "control"}
        ],

          controller: {
          loadData: function(filter) {
                var d = $.Deferred();
                console.log(filter);
                
                $.ajax({
                  type: 'POST',
                    url: "/adminGrid/GetFaculty",
                    dataType: "json",
                    data: filter
                }).done(function(dataResult) {
                  console.log(dataResult);
                    d.resolve(dataResult);
                });

                
                return d.promise();
            },
            updateItem: function(item) {
                return $.ajax({
                    type: "POST",
                    url: "/adminGrid/UpdateFaculty",
                    data: item
                }).done(function(dataResult) {
                 
                  $("#facultyGrid").jsGrid("loadData");
                });
            },
          }
 
    });
    $.ajax({
      type: 'POST',
        url: "/adminGrid/GetFaculty",
        dataType: "json",
        data: {
          pageIndex: '1',
          pageSize: '100'
        }
    }).done(function(data) {
      console.log("FIrst request",data)
      facultyList = data.data;
      $("#departmentGrid").jsGrid({
          width: "100%",
          filtering: true,
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 20,
                pageLoading:true,
                pageButtonCount: 7,
  
          fields: [
              { title: "Dept Name", name: "name", type: "text", width: 100 },
              { title: "Depit Code", name: "code", type: "text", width: 50 },
              { title: "Faculty", name: "facultyid", type: "select", items: facultyList, valueField: "facultyid", textField: "longname"},
              { type: "control" }
          ],
  
          controller: {
            loadData: function(filter) {
                  var d = $.Deferred();
                  $.ajax({
                    type: 'POST',
                      url: "/adminGrid/GetDepartment",
                      dataType: "json",
                      data: filter
                  }).done(function(dataResult) {
                    console.log("fdsafdasfdsa",dataResult);
                    
                      d.resolve(dataResult);
                  });
                  return d.promise();
              },
              updateItem: function(item) {
                  return $.ajax({
                      type: "POST",
                      url: "/adminGrid/UpdateDepartment",
                      data: item
                  }).done(()=>{
                    console.log("refefer dept ")
                  $("#departmentGrid").jsGrid("loadData");
                });
              },
            }
      });
    });
</script>

