<script src="/static/scripts/jscolor.js"></script>
<h2>Customize</h2>
<p>Please check the details and if any of the information is innacurate, edit the details and click the submit button.</p>
<div class="form-group">
    <label for="univeristyname">Univeristy Name</label>
    <input type="text" class="form-control" id="univeristyname" aria-describedby="emailHelp" placeholder="University of Calgary">
    <small id="uniHelp" class="form-text text-muted">The institution's full name</small>
</div>
<div class="form-group">
    <label for="univeristyshortname">Univeristy Short Name</label>
    <input type="text" class="form-control" id="univeristyshortname" aria-describedby="emailHelp" placeholder="UCalgary">
    <small id="unishortHelp" class="form-text text-muted">The institution's short name</small>
</div>

<div class="form-group">
    <label for="address_row">Location</label>
    <div id="address_row" class="row">
    <div class="form-group col-sm-3">
        <label for="exampleFormControlInput1">Number</label>
        <input type="text" class="form-control" id="my_street_num">
    </div>
    <div class="form-group col-sm-6">
        <label for="exampleFormControlInput1">Street</label>
        <input type="text" class="form-control" id="my_street_name">
    </div>
    <div class="form-group col-sm-3">
        <label for="exampleFormControlInput1">Postal Code</label>
        <input type="text" class="form-control" id="my_postal_code">
    </div>
    <div class="form-group col-sm-4">
        <label for="city_select">City</label>
        <select class="form-control" id="cutomize_city_select">
        <option>Calgary</option>
        <option>Edmonton</option>
        <option>Vancouver</option>
        <option>Salmon Arm</option>
        <option>Vicotria</option>
        </select>
    </div>
    <div class="form-group col-sm-4">
        <label for="state_select">Province/State</label>
        <select class="form-control" id="cutomize_state_select">
        <option>Alberta</option>
        <option>BC</option>

        </select>
    </div>
    <div class="form-group col-sm-4">
        <label for="country_select">Country</label>
        <select class="form-control" id="cutomize_country_select">
        <option>Canada</option>
        <option>USA</option>
        </select>
    </div>
    </div>
</div>
<script>
$.ajax({
        type: 'POST',
        url: "/adminGrid/GetCountries",
        dataType: "json",
        data: {name : "",
        pageIndex: 1,
        pageSize: 300,}
    }).done(function(dataResult) {
        //  lets fill up the select with countries
        var html = "";
        for(var i=0;i<dataResult.data.length;i++){
            html = html + "<option onclick='getStates("+dataResult.data[i].countryid+")>"+dataResult.data[i].name+"</option>";
            
        }
     
        $("#country_select").html(html);
     


    });
//  get the associated states 
function getStates(countryid){
    $.ajax({
        type: 'POST',
        url: "/adminGrid/GetStates",
        dataType: "json",
        data: {name : "",
        pageIndex: 1,
        pageSize: 300,}
    }).done(function(dataResult) {
        //  lets fill up the select with countries
       
        var html = "";
        for(var i=0;i<dataResult.data.length;i++){
            html = html + "<option onclick='getCities("+dataResult.data[i].stateid+")>"+dataResult.data[i].name+"</option>";
            
        }
       
        $("#state_select").html(html);
    

    });

}



//  this function will get called on the cutomize click and populates all the feilds with the
//  ones from you institution 
function requestCutomizeFeilds(){
    
    $.ajax({
        type: 'POST',
        url: "/adminGrid/GetInsitutionFeatures",
        dataType: "json",
    }).done(function(dataResult) {
        //  lets fill up the select with countries
        console.log(dataResult);
        //  inialize the location selectors with parameters
        initLocationSelect("cutomize_",{
            countryid : dataResult.countryid,
            stateid : dataResult.stateid,
            cityid : dataResult.cityid
        });
        //  fill all of the form feilds 
        $("#univeristyname").val(dataResult.name);
        $("#univeristyshortname").val(dataResult.shortname);
        


        //  set up the location thing 
        $("#my_street_num").val(dataResult.streetnumber);
        $("#my_street_name").val(dataResult.streetname);
        $("#my_postal_code").val(dataResult.postalcode);

        //  set up the color things 

        $("#brand-color-1").css({'background':toColor(dataResult.brandcolor0)})
        $("#color-picker-1").val(dataResult.brandcolor0.toString(16));
        $("#brand-color-2").css({'background':toColor(dataResult.brandcolor1)})
        $("#color-picker-2").val(dataResult.brandcolor1.toString(16));

        //  now we need to snag the 2 images that belong here 
        $.post("/adminGrid/GetImage",{
            fileid : dataResult.backgroundimage
        }).done((dataR1)=>{
            dataR1 = JSON.parse(dataR1);
            //  this is where we show what iamges those are 
            $("#background-image-id").val(dataR1.data.fileid);
                //  change the image src to the one in data
            $("#background-image").attr('src',dataR1.data.location);
        });

        $.post("/adminGrid/GetImage",{
            fileid : dataResult.logoimage
        }).done((dataR1)=>{
            dataR1 = JSON.parse(dataR1);
            //  this is where we show what iamges those are 
            $("#logo-image-id").val(dataR1.data.fileid);
                //  change the image src to the one in data
            $("#logo-image").attr('src',dataR1.data.location);
        });



    });
}
$(requestCutomizeFeilds);
function getCustomizeFeilds(){
    return {
        name : $("#univeristyname").val(),
        shortname : $("#univeristyshortname").val(),
        streetnum : $("#my_street_num").val(),
        streetname : $("#my_street_name").val(),
        postalcode: $("#my_postal_code").val(),
        cityid : $("#cutomize_city_select").val(),
        stateid : $("#cutomize_state_select").val(),
        countryid : $("#cutomize_country_select").val(),
        logo : $("#logo-image-id").val(),
        background : $("#background-image-id").val(),
        color0 : parseInt($("#color-picker-1").val(),16),
        color1 : parseInt($("#color-picker-2").val(),16)
    }
}
function toColor(num) {
    num >>>= 0;
    var b = num & 0xFF,
        g = (num & 0xFF00) >>> 8,
        r = (num & 0xFF0000) >>> 16,
        a = ( (num & 0xFF000000) >>> 24 ) / 255 ;
    return "rgba(" + [r, g, b, 1].join(",") + ")";
}
</script>

<small id="unishortHelp" class="form-text text-muted">The location of the institution</small>
</br>
<div class="brand-images">
<div class="form-group">
    <div style="    margin-bottom: .5rem;">Logo</div>
    <img src="" id="logo-image" style="height:10rem;width:10rem;">
    <button class="btn btn-success" id="change-logo-image">Change Image</button>
    <input id="logo-image-id" type="hidden">
    <script>
        $("#change-logo-image").click(()=>{
            openUploadImageDialog("fads",(data)=>{
                //  this code will run 
                console.log(data);
                //  so we wanna change the image id in the hidden feild 
                $("#logo-image-id").val(data.data.fileid);
                //  change the image src to the one in data
                $("#logo-image").attr('src',data.data.location);
                
            });
        });
    </script>
</div>
    
   <div class="form-group">
    <div style="    margin-bottom: .5rem;">Background</div>
    <img src="" id="background-image" style="height:10rem;width:10rem;">
    <button class="btn btn-success" id="change-background-image">Change Image</button>
    <input id="background-image-id" type="hidden">
    <script>
        $("#change-background-image").click(()=>{
            openUploadImageDialog("fads",(data)=>{
                //  this code will run 
                
                //  so we wanna change the image id in the hidden feild 
                $("#background-image-id").val(data.data.fileid);
                //  change the image src to the one in data
                $("#background-image").attr('src',data.data.location);
                
            });
        });
    </script>
</div>
</div>
    

<label >Brand Colors</label>
<div style="display:flex;">
    
    <div style="margin-right:2rem;">
           
   
    <div class="brand-color-selector" id="brand-color-1"></div>
    <input id="color-picker-1" class="jscolor {styleElement:'styleSpan',value:'DF068C'}" >
    
</div>
<div class="">
       

<div class="brand-color-selector" id="brand-color-2"></div>
<input id="color-picker-2" class="jscolor {styleElement:'styleSpan',value:'DF068C'}" >

</div>
</div>
<button id="cust-sub-btn" class="btn btn-success"  >Save</button>

<script>
    $("#brand-color-1").click(()=>{
        document.getElementById("color-picker-1").jscolor.show();
    })
    $("#color-picker-1").on("change",function(){
        console.log(parseInt($("#color-picker-1").val(),16));
        $("#brand-color-1").css({'background': "#"+$("#color-picker-1").val()});
    });
    $("#brand-color-2").click(()=>{
        document.getElementById("color-picker-2").jscolor.show();
    })
    $("#color-picker-2").on("change",function(){
        $("#brand-color-2").css({"background" :  "#"+$("#color-picker-2").val()});
    });

$(()=>{
    console.log("making");
    $("#cust-sub-btn").click(()=>{
        console.log("clicled");
        $.post("/adminGrid/SetInsitutionFeatures",
        getCustomizeFeilds())
        .done((data)=>{
            console.log(data);
        });
    })
})

</script>

{% include "admin/dialogs/upload_image.html" %}
          