<h2>Customize</h2>
<p>Please check the details and if any of the information is innacurate, edit the details and click the submit button.</p>
<div class="form-group">
    <label for="univeristyname">Univeristy Name</label>
    <input type="text" class="form-control" id="univeristyname" aria-describedby="emailHelp" placeholder="University of Calgary">
    <small id="uniHelp" class="form-text text-muted">The institution's full name</small>
</div>
<div class="form-group">
    <label for="univeristyshortname">Univeristy Short Name</label>
    <input type="text" class="form-control" id="univeristyshortname" aria-describedby="emailHelp" placeholder="UCalgary">
    <small id="unishortHelp" class="form-text text-muted">The institution's short name</small>
</div>

<div class="form-group">
    <label for="address_row">Location</label>
    <div id="address_row" class="row">
    <div class="form-group col-sm-3">
        <label for="exampleFormControlInput1">Number</label>
        <input type="text" class="form-control" id="new_cust_number">
    </div>
    <div class="form-group col-sm-6">
        <label for="exampleFormControlInput1">Street</label>
        <input type="text" class="form-control" id="new_cust_street">
    </div>
    <div class="form-group col-sm-3">
        <label for="exampleFormControlInput1">Postal Code</label>
        <input type="text" class="form-control" id="new_cust_postal">
    </div>
    <div class="form-group col-sm-4">
        <label for="city_select">City</label>
        <select class="form-control" id="city_select">
        <option>Calgary</option>
        <option>Edmonton</option>
        <option>Vancouver</option>
        <option>Salmon Arm</option>
        <option>Vicotria</option>
        </select>
    </div>
    <div class="form-group col-sm-4">
        <label for="state_select">Province/State</label>
        <select class="form-control" id="state_select">
        <option>Alberta</option>
        <option>BC</option>

        </select>
    </div>
    <div class="form-group col-sm-4">
        <label for="country_select">Country</label>
        <select class="form-control" id="country_select">
        <option>Canada</option>
        <option>USA</option>
        </select>
    </div>
    </div>
</div>
<script>
$.ajax({
        type: 'POST',
        url: "/adminGrid/GetCountries",
        dataType: "json",
        data: {name : "",
        pageIndex: 1,
        pageSize: 300,}
    }).done(function(dataResult) {
        //  lets fill up the select with countries
        var html = "";
        for(var i=0;i<dataResult.data.length;i++){
            html = html + "<option onclick='getStates("+dataResult.data[i].countryid+")>"+dataResult.data[i].name+"</option>";
            
        }
     
        $("#country_select").html(html);
     


    });
//  get the associated states 
function getStates(countryid){
    $.ajax({
        type: 'POST',
        url: "/adminGrid/GetStates",
        dataType: "json",
        data: {name : "",
        pageIndex: 1,
        pageSize: 300,}
    }).done(function(dataResult) {
        //  lets fill up the select with countries
       
        var html = "";
        for(var i=0;i<dataResult.data.length;i++){
            html = html + "<option onclick='getCities("+dataResult.data[i].stateid+")>"+dataResult.data[i].name+"</option>";
            
        }
       
        $("#state_select").html(html);
    

    });

}



//  this function will get called on the cutomize click and populates all the feilds with the
//  ones from you institution 
function requestCutomizeFeilds(){
    $.ajax({
        type: 'POST',
        url: "/adminGrid/GetInsitutionFeatures",
        dataType: "json",
    }).done(function(dataResult) {
        //  lets fill up the select with countries
        console.log(dataResult);
        //  fill all of the form feilds 
        $("#univeristyname").val(dataResult.name);
        $("#univeristyshortname").val(dataResult.shortname);
        


        //  set up the location thing 
        $("#new_cust_number").val(dataResult.streetnumber);
        $("#new_cust_street").val(dataResult.streetname);
        $("#new_cust_postal").val(dataResult.postalcode);

        //  set up the color things 

        $("#brand-color-1").css({'background':toColor(dataResult.brandcolor0)})
        $("#brand-color-2").css({'background':toColor(dataResult.brandcolor1)})

        

    });
}
$(requestCutomizeFeilds);
function getCustomizeFeilds(){
    return {
        name : $("#univeristyname").val(),
        shortname : $("#univeristyshortname").val(),
        streetnum : $("#univeristyshortname").val(),
        streetname : $("#univeristyshortname").val(),
        postalcode: $("#univeristyshortname").val(),
        cityid : $("#univeristyshortname").val(),
        stateid : $("#univeristyshortname").val(),
        countryid : $("#univeristyshortname").val(),
        logo : null,
        background : null,
        color0 : $("#univeristyshortname").val(),
        color1 : $("#univeristyshortname").val()
    }
}
function toColor(num) {
    num >>>= 0;
    var b = num & 0xFF,
        g = (num & 0xFF00) >>> 8,
        r = (num & 0xFF0000) >>> 16,
        a = ( (num & 0xFF000000) >>> 24 ) / 255 ;
    return "rgba(" + [r, g, b, 1].join(",") + ")";
}
</script>

<small id="unishortHelp" class="form-text text-muted">The location of the institution</small>
</br>
<div class="brand-images">
<div class="form-group">
    <div style="    margin-bottom: .5rem;">Logo</div>
    <div class="custom-file "  >
        <input type="file" class="custom-file-input" id="customFile" name="filename">
        <label class="custom-file-label" for="customFile">Choose file</label>
        <small  class="form-text text-muted">The location of the institution</small>
    </div>
</div>
    
    <div class="form-group">
    <div style="margin-bottom: 0.5rem;" >Background</div>
    <div class="custom-file "  >
        <input type="file" class="custom-file-input" id="customFile" name="filename">
        <label class="custom-file-label" for="customFile">Choose file</label>
        <small  class="form-text text-muted">The location of the institution</small>
    </div>
</div>
    
</div>
    <label >Brand Colors</label>
    <div class="brand-colors">
    <div class="brand-color-selector" id="brand-color-1"></div>
    <div class="brand-color-selector" id="brand-color-2"></div>
</div>
<input id="Customize-submit-button" class="btn btn-success" type="submit" value="Save">

<script>
$("#Customize-submit-button").click(()=>{
    $.post("/adminGrid/SetInsitutionFeatures",
    getCustomizeFeilds())
    .done((data)=>{
        console.log(data);
    });
})
</script>
          